<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chao.mybatis.mapper.BrandDoMapper">
  <resultMap id="BaseResultMap" type="com.chao.mybatis.pojo.BrandDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, logo, pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listBrand" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_brand
    order by logo asc
  </select>
  <select id="searchBrand" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_brand
    <where>
      <if test="keyword != null">
        name LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') or logo LIKE CONCAT(#{keyword,jdbcType=VARCHAR},'%')
      </if>
    </where>
    order by logo asc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByIds">
    delete from tb_brand
    where id in
    <foreach item="item" collection="array" index="index" open="(" close=")" separator=",">
    #{item}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.chao.mybatis.pojo.BrandDo">
    insert into tb_brand (id, name, logo
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chao.mybatis.pojo.BrandDo">
    insert into tb_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="logo != null">
        logo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chao.mybatis.pojo.BrandDo">
    update tb_brand
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chao.mybatis.pojo.BrandDo">
    update tb_brand
    set name = #{name,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>